CLIENT_ID=team074
CLIENT_SECRET=
# format for env-only configuration format, superseded by storage in relational db 
# BANKS="https://vbank.open.bankingapi.ru https://abank.open.bankingapi.ru https://sbank.open.bankingapi.ru"
# BANKS="https://vbank.open.bankingapi.ru"

# id for x-requesting-bank
MY_BANK_ID=symphony74
# our display name for consent requests
MY_BANK_NAME=Symphony

# email for otps
SENDER_MAIL=shinyzero00@yandex.ru
SMTP_ADDR=
SMTP_LOGIN=
SMTP_PASSWORD=

# put your frontend url here to allow cross site requests
CORS_ORIGIN=http://localhost:5173

# general purpose storage
SQLITE_DSN=dev.db?_pragma=journal_mode(wal)&_pragma=foreign_keys

# also redis, see docker-compose.yml
